#topbar {
  display: flex;
  z-index: 11;
  position: fixed;
  background-color: rgba(26, 26, 26, 0.792);
  justify-content: center;
  align-items: center;
}
.removeListDecor {
  list-style: none;
}
#cases ul {
  margin: 0px;
  padding: 100px;
}
#about {
  padding-bottom: 100px;
}
#topbar li {
  border: 1px rgba(255, 0, 0, 0) solid;
}
.transparent_70 {
  opacity: 70%;
}
.margin10 {
  margin: 10px;
}
.flexWrapper {
  display: flex;
  flex-wrap: wrap;

  margin: 100px;
}
.inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space_medium {
  padding: 25px;
}
.caseCardItem {
  width: 350px;
  height: 420px;
  margin: 20px;
  overflow: hidden;
  min-width: 350px !important;
}
.checkThisCase {
  font-size: 18px;
  font-weight: 600;
  color: rgb(118, 113, 19);
}

.flexAlignRight {
  align-self: flex-end;
}
.color_phantom {
  background-color: rgba(26, 26, 26, 0.748);
}
#topBarList {
  display: flex;
  justify-content: center;
}
.width100 {
  width: 100%;
}
.font_weight_bold {
  font-weight: bold;
}

.font_size_30 {
  font-size: 30px;
}
.remPadMarg {
  padding: 0px;
  margin: 0px;
}
.font_size_20 {
  font-size: 1.3vw;
}

.dec_none {
  text-decoration: none;
}

.color_golden {
  color: rgb(89, 71, 8);
}

.color_yellow {
  color: rgb(234, 222, 4);
}
#topbar li:hover {
  background-color: rgba(4, 4, 4, 0.123);
  opacity: 100%;
  transition: all 1s;
}
.padding_30 {
  padding: 30px;
}
.align_items {
  align-items: center;
}

.margin_10 {
  margin: 10px;
}

.marginTopBott5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.border_radius_5 {
  border-radius: 10px;
}

.padding_20 {
  padding: 20px;
}

.padding_10 {
  padding: 10px;
}

.fonts {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

.fixedPos {
  position: fixed;
}

.top100 {
  top: 30px;
}

.left30 {
  left: 30px;
}

.width70 {
  width: 70px;
}

.fontSize_14 {
  font-size: 14px;
}

.left100 {
  left: 100px;
}

.zIndex13 {
  z-index: 13;
}

.borderLeftRight {
  border-left: 2px solid rgba(128, 128, 128, 0.322);
  border-right: 2px solid rgba(128, 128, 128, 0.321);
}

.logoVertAlign {
  top: 93px;
}
#introLeft {
  display: flex;
  margin: 10px;
  flex-direction: column;
  width: 40%;
  z-index: 10;
}
#introRight {
  z-index: 10;
  width: 40%;
}
#introTextLeft {
  font-size: 0.8vw;
}
#introHeaderLeft {
  font-size: 2.6vw;
  color: white;
  font-weight: bold;
}
#introContainer {
  position: relative;
  display: flex;
  height: 800px;
  color: white;
  align-items: center;
  justify-content: center;
}

.font_bold {
  font-weight: bold;
}

.relSize_25X40 {
  width: 25%;
  height: 40px;
  border-radius: 2px;
}

.buttonStylePhantom {
  background-color: rgb(26, 26, 26);

  border: solid rgba(255, 255, 255, 0.26) 1px;
}

.buttonStyleYellow {
  background-color: rgb(234, 222, 4);
  border: none;
}

.color_white {
  color: white;
}

#introButtonsLeft button:active {
  transform: scale(0.95);
  transition: all 0.1s;
}

#introRight {
  margin: 10px;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.introRightElem {
  display: flex;
  flex-direction: column;

  padding: 50px;
  justify-content: center;
  align-items: center;
}

.bigYellowNumbers {
  font-size: 4vw;
  color: rgb(234, 222, 4);
  font-weight: bold;
}

.smallerText {
  font-size: 1.1vw;
  color: white;
}
.cardExplanatoryText {
  font-size: 12px;
  font-weight: 200;
  color: white;
  padding: 10px;
}

#firstElem {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

#secondElem {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
}

#thirdElem {
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}
#forthElem {
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}

#blackBg {
  background-color: rgba(26, 26, 26, 0.639);
  width: 100%;
  height: 100%;
  position: absolute;
}

#imgContainer {
  width: 100%;
  height: 800px;

  position: absolute;
}

#imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

#about {
  height: 100%;
}

#aboutComponent1_1 {
  display: flex;
  margin: 20px;
  font-size: 2.2vw;
  font-weight: bold;
  color: rgb(255, 252, 252);
  opacity: 0.5;
  width: 40%;
}
#aboutComponent1_2 {
  width: 40%;
  margin: 20px;
}
#aboutComponent_1_container {
  display: flex;
  justify-content: space-around;
}
#aboutComponent2 {
  display: flex;
  justify-content: space-around;
}
#aboutComponent2_1 {
  display: flex;

  font-weight: bold;
  font-size: 3.2vw;
  width: 40%;
  height: 100px;
  margin: 20px;
}
#aboutComponent2_2 {
  color: rgb(143, 140, 140);

  font-size: 1.4vw;
  height: 100px;
  margin: 20px;
  width: 40%;
}

#aboutComponent3 {
  display: flex;
  justify-content: space-evenly;
}

.aboutComponent3_1 {
  display: flex;
  font-size: 70px;
  font-weight: bolder;
  width: 250px;
  height: 400px;
  flex-direction: column;
}

.aboutComponent3_1 .num {
  color: grey;
  display: flex;
  font-size: 70px;
  font-weight: bolder;
  width: 20%;
  opacity: 0.5;

  margin-bottom: 10px;
  flex-direction: column;
}

.boxShadow {
  box-shadow: 5px 5px 10px rgb(2, 2, 2);
}
#componentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  background-color: rgba(26, 26, 26, 0.791);
  border-radius: 10px;
  height: 300px;
  overflow: hidden;
  box-shadow: 5px 5px 10px black;
}

#componentCard img {
  height: 90px;
  align-self: center;
  margin: 10px;
}

#componentCard h2 {
  color: white;
  font-size: 20px;
  margin: 20px;
}

#componentCard h4 {
  font-size: 13px;
  color: white;
  font-weight: 200;
  padding: 10px;
}

#componentCard:hover {
  background-color: rgba(26, 26, 26, 0.593);
  transition: 0.5s all;
}

.checkThisCase img {
  margin: 10px;
  width: 50px !important;
  height: 50px !important;
  background-color: rgb(234, 222, 4);
  border-radius: 10px;
}
.checkThisCase img:hover {
  margin: 10px;
  width: 50px !important;
  height: 50px !important;
  background-color: rgb(234, 222, 4);
  border-radius: 10px;
  scale: 1.1;
  transition: all 0.3s;
}

.ItemCardList h4 {
  font-size: 15px;
  font-weight: 500;
  color: rgba(245, 245, 245, 0.848);
  padding: 5px;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 10px;
}

.ItemCardList .explainText {
  color: rgb(234, 222, 4);
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}

.explainText {
  color: rgb(218, 212, 212);
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}
.caseCardItem h4 {
  font-size: 15px;
  font-weight: 500;
  color: rgb(226, 217, 37);
  margin: 0px;
}

.caseCardItem img {
  width: 100%;
  height: 250px;
}
.logoFont {
  font-size: 20px;
}
.caseCardItem:hover {
  background-color: rgba(146, 141, 141, 0.748);
  transition: all 0.3s;
}

.yellowCardBorder {
  border: yellow 1px solid;
}
.blackCardBorder {
  border: black 2px solid;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.logoContainer h1 {
  padding: 10px;
}

@media screen and (min-width: 1400px) {
  .logoContainer {
    display: flex;
    left: 20px;
  }
  .logoContainer img {
    width: 70px;
  }
  .logoContainer h1 {
    font-size: 16px;
  }
  #aboutComponent2_2 {
    font-size: 18px;
  }
  #aboutComponent2_1 {
    font-size: 45px;
  }
  #aboutComponent1_1 {
    font-size: 30px;
  }
  .aboutComponent3_1 {
    width: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .logoContainer {
    display: flex;
    left: 20px;
  }
  .logoContainer img {
    width: 70px;
  }
  .logoContainer h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .logoContainer {
    display: flex;
    left: 20px;
  }
  .logoContainer img {
    width: 60px;
  }
  .logoContainer h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1050px) {
  .logoContainer {
    display: flex;
    left: 5px;
  }
  .logoContainer img {
    width: 50px;
  }
  .logoContainer h1 {
    font-size: 14px;
  }
  #topBarList li {
    font-size: 12px;
  }
}
#about {
  background-color:;
}
@media screen and (max-width: 950px) {
  .logoContainer {
    display: flex;
    left: 5px;
    pointer-events: auto;
  }
  .logoContainer img {
    width: 60px;
  }
  .logoContainer h1 {
    font-size: 18px;
  }
  #topBarList li {
    font-size: 16px;
  }
  #topbar ul {
    flex-direction: column;
  }
  #topbar {
    flex-direction: column;
  }
  .borderLeftRight {
    border: none;
  }
  .logoContainer {
    position: relative;
    width: 100%;
    left: 0px;
  }

  #aboutComponent3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hidden {
  display: none;
  width: 0px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s;
}

@media screen and (max-width: 950px) {
  #aboutComponent2_2 {
    font-size: 13px;
  }
  #aboutComponent2_1 {
    font-size: 30px;
  }
  #aboutComponent1_1 {
    font-size: 20px;
  }
}

#contacts {
  display: flex;
  align-items: start;
  justify-content: space-around;
  background-color: rgb(24, 23, 23);
  height: 500px;
}

#firstSectionContacts {
  display: flex;

  flex-direction: column;
}
.font40px {
  font-size: 40px;
}
#section1_1Contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 30px;
  color: yellow;
}

#section1_2Contacts {
  display: flex;
  align-items: start;
  flex-direction: column;
  color: yellow;
  margin: 20px;
}
.whiteText18px {
  color: rgb(225, 225, 207);
  font-size: 18px;
}

.margin20 {
  margin: 20px;
}
#secondSectionContacts {
  color: yellow;
display:flex;
  flex-direction: column;

}

.ContactsSVG {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: yellow;

  border-radius: 40px;
}
#contactLogos {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: start;
  justify-content: stretch;
}
.marginRight40px {
  margin-right: 40px;
}
.marginLeft0 {
  margin-left: 0px !important;
}

.ContactsSVG:hover {
  background-color: rgb(87, 85, 85);
  transition: all 0.5s ease;
}

#secondSectionContacts input,
textarea {

  width: 100% !important;
  height: 30px;
  margin: 10px;

}
#secondSectionContacts button {
  width: 120px;
  height: 30px;
  margin: 10px;
  background-color: yellow;
}
#secondSectionContacts {
width:40%;}

#mailContent {
  height: 150px !important;

}
#secondSectionContactsText{
align-self:start;
}

#secondSectionContacts button{
align-self:start;
}